{:paths ["src"]
 :deps {io.spiritt/lib-c {:local/root "../../libs/lib-c"}
        org.clojure/clojure {:mvn/version "1.12.3"}}
 :kmono/package {:io.spiritt/test {}
                 :io.spiritt/pipeline {}}}